$white:#fff;
$gray:hwb(207 9% 66%);
$green:#02897A;
$white-gray:#737373;
$blue:#22343D; 
$black:#2F281E;
$fonts: ('Poppins-Bold',  700),
        ('Montserrat-Semibold',  600),
        ('Poppins-Regular', 400),
        ('Poppins-Medium', 500),
        ('Poppins-Semibold', 600),
        ('Roboto-Regular', 400),
        ('Inter-Bold', 700),
        ('Inter-Medium', 500);
@each $name, $weight in $fonts {
    @font-face {
        font-family: $name;
        src: url('../fonts/#{$name}.ttf');
        font-weight: $weight;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
