footer.footer
    .container
        .footer__content 
            .footer__content-pictures   
                .footer__content-product 
                    img(src="./images/subtract.svg", alt="")
                    h3.footer__content-title Product 
                .footer__content-icons 
                    img(src="./images/instagram.svg", alt="")
                    img(src="./images/meta.svg", alt="").footer__content-img
                    img(src="./images/twiter.svg", alt="")
            .footer__content-nav 
                h5.footer__content-text Resource
                ul.footer__content-list 
                    li.footer__content-link About Us
                    li.footer__content-link Blog
                    li.footer__content-link Contact
                    li.footer__content-link FAQ
            .footer__content-nav 
                h5.footer__content-text Resource
                ul.footer__content-list 
                    li.footer__content-link Disclaimer
                    li.footer__content-link Financing
                    li.footer__content-link Privacy Policy
                    li.footer__content-link Terms of Service
            .footer__content-check 
                p.footer__content-describe knowing you're always on the best energy deal. 
                form(action="").footer__content-form
                    input(type="email" required=""  ).footer__content-input
                    button(type="submit").footer__content-btn  Sign up Now
        .footer__content-last 
            p.footer__content-by  Made With Love By Figmaland All Right Reserved 
