header.header
    .container
        nav.header__nav
            .header__nav-picture  
                img(src="./images/subtract.svg", alt="")
                h2.header__nav-title Product
                .header__nav-burger
                    img(src="./images/burger.webp", alt="") 
            .header__nav-items 
                ul.header__nav-list 
                    a(href=""): li.header__nav-link Product  
                    a(href=""): li.header__nav-link Customers
                    a(href=""): li.header__nav-link Pricing
                    a(href=""): li.header__nav-link Resources
                a(href="").header__nav-btn Sign In
                a(href="").header__nav-btn Sign Up
                img(src="./images/circle.svg", alt="").header__nav-img
        .header__content
            .header__content-left 
                h1.header__content-title Work at the speed    of thought
                p.header__content-describe Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to imagine your next user experience.
                .header__content-video
                    a(href="").header__content-btn Get started
                    img(src="./images/play.svg", alt="")
                    a(href="").header__content-btn Watch the Video 
            .header__content-right 
                img(src="./images/bg.webp", alt="")
        .header__about  
            h2.header__about-title Product  was Built Specifically #[br]for You
            .header__about-items
                .header__about-item 
                    img(src="./images/click.svg", alt="")
                    h3.header__about-text First click tests
                    p.header__about-describe While most people enjoy casino gambling
                .header__about-item 
                    img(src="./images/surveys.svg", alt="")
                    h3.header__about-text Design surveys
                    p.header__about-describe Sports betting, lottery and bingo playing for the fun
                .header__about-item 
                    img(src="./images/test.svg", alt="")
                    h3.header__about-text Preference tests
                    p.header__about-describe The Myspace page defines the individual.
                .header__about-item 
                    img(src="./images/time.svg", alt="")
                    h3.header__about-text Five second tests
                    p.header__about-describe Personal choices and the overall personality of the person. 
            a(href="" ).header__about-btn SIGN UP NOW
