main.main 
    .container 
        .main__content
            .main__content-left
                h6.main__content-text Effortless Validation for
                h2.main__content-title Management
                p.main__content-describtion The Myspace page defines the individual, his or her characteristics, traits, personal choices and the overall personality of the person. 
                h6.main__content-describe Accessory makers
                p.main__content-describtion While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun
                h6.main__content-describe Alterationists
                p.main__content-describtion If you are looking for a new way to promote your business that won’t cost you more money
            .main__content-right 
                img.main__content-img(src="./images/amico.webp" alt="")
        .main__computer 
            .main__computer-left 
                img(src="./images/search.webp" alt="").main__computer-img
            .main__computer-right
                h6.main__computer-text Easier decision making for
                h2.main__computer-title Customer Support
                p.main__computer-describtion The Myspace page defines the individual, his or her characteristics, traits, personal choices and the overall personality of the person. 
                .main__computer-picture 
                    img(src="./images/tick-yellow.svg" alt="")
                    p.main__computer-describe Never worry about overpaying for your energy again.
                .main__computer-picture 
                    img(src="./images/tick-red.svg" alt="")
                    p.main__computer-describe We will only switch you to energy companies that we trust and will treat you right
                .main__computer-picture 
                    img(src="./images/tick-blue.svg" alt="")
                    p.main__computer-describe We track the markets daily and know where the savings are.

        .main__documents
            .main__documents-left
                h6.main__documents-text Optimisation for
                h2.main__documents-title Collaborative
                p.main__documents-describtion Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior.  
                h6.main__documents-describe Accessory makers
                p.main__documents-describtion While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun
                h6.main__documents-describe Alterationists
                p.main__documents-describtion If you are looking for a new way to promote your business that won’t cost you more money, 
            .main__documents-right 
                img.main__documents-img(src="./images/folder.webp" alt="")
        .main__process 
            .main__process-content 
                h2.main__process-title Quick & Easy Process
                p.main__process-text Do you require some help for your project: Conception workshop, prototyping, marketing strategy, landing page, Ux/UI?
            .main__process-comments
                .main__process-avatar 
                    img(src="./images/first-ava.webp" alt="") 
                    p.main__process-describe I can take care of your pitch
                .main__process-avatar 
                    p.main__process-secondDescribe I can prototype your app
                    img(src="./images/fourth-ava.webp" alt="") 
            .main__process-comments
                .main__process-avatar 
                    p.main__process-secondDescribe I can design you website
                    img(src="./images/second-ava.webp" alt="") 
                .main__process-avatar 
                    img(src="./images/third-ava.webp" alt="") 
                    p.main__process-describe I can help marketing strategy
            .main__process-button 
                a(href="").main__process-btn Contact our expert
        .main__strategies
            h2.main__strategies-title Contents Strategies
            p.main__strategies-text We focus on ergonomics and meeting you where you work. It's only a keystroke away.  
            .main__strategies-content
                .main__strategies-items 
                    .main__strategies-item
                        img(src="./images/content-img.webp" alt="").main__strategies-img
                        .main__strategies-about
                            p.main__strategies-name By #[span Wahid Ari ] |  03 March 2019
                            p.main__strategies-describe  Increasing Prosperity With Positive Thinking
                    .main__strategies-item
                        img(src="./images/content-img-2.webp" alt="").main__strategies-img
                        .main__strategies-about
                            p.main__strategies-name By #[span Wahid Ari ] |  03 March 2019
                            p.main__strategies-describe  Motivation Is The First Step To Success
                    .main__strategies-item
                        img(src="./images/content-img-3.webp" alt="").main__strategies-img
                        .main__strategies-about
                            p.main__strategies-name By #[span Wahid Ari ] |  03 March 2019
                            p.main__strategies-describe Success Steps For Your Personal Or Business
            .main__strategies-dots 
                .main__strategies-dot
                .main__strategies-dot
                .main__strategies-dot
                //- .main__strategies-dot
        .main__prices
            h3.main__prices-title Price Table
            p.main__prices-text We offer competitive price
            .main__prices-content 
                .main__prices-item 
                    h5.main__prices-caption Free
                    p.main__prices-describe Brief price description
                    .main__prices-price 
                        p.main__prices-number 0
                        .main__prices-revenue
                            p.main__prices-dollar $
                            p.main__prices-year Per / month
                    p.main__prices-describtion Only 2 Operators
                    p.main__prices-describtion Notifications
                    p.main__prices-describtion Landing Pages
                    a.main__prices-btn(href="") Order Now 
                .main__prices-item 
                    h5.main__prices-caption Standard
                    p.main__prices-describe Brief price description
                    .main__prices-price 
                        p.main__prices-number 5
                        .main__prices-revenue
                            p.main__prices-dollar $
                            p.main__prices-year Per / month
                    p.main__prices-describtion 5+ Operators
                    p.main__prices-describtion Notifications
                    p.main__prices-describtion Landing Pages
                    a.main__prices-btn(href="") Order Now 
                .main__prices-item 
                    h5.main__prices-caption Premium
                    p.main__prices-describe Brief price description
                    .main__prices-price 
                        p.main__prices-number 10
                        .main__prices-revenue
                            p.main__prices-dollar $
                            p.main__prices-year Per / month
                    p.main__prices-describtion 10+ Operators
                    p.main__prices-describtion Notifications
                    p.main__prices-describtion Landing Pages
                    a.main__prices-btn(href="") Order Now 
        .main__clients 
            h3.main__clients-title What Clients Say
            p.main__clients-text Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics 
            .main__clients-content 
                .main__clients-star 
                    img(src="./images/stars.webp", alt="")
                    p.main__clients-describe Product helps you see how many more days you need to work to reach your financial goal.
                    .main__clients-about
                        img(src="./images/fifth-ava.webp", alt="")
                        .main__clients-caption
                            p.main__clients-name Wahid Ari
                            p.main__clients-job Designer
                .main__clients-star 
                    img(src="./images/stars.webp", alt="")
                    p.main__clients-describe Product helps you see how many more days you need to work to reach your financial goal.
                    .main__clients-about
                        img(src="./images/fifth-ava.webp", alt="")
                        .main__clients-caption
                            p.main__clients-name Wahid Ari
                            p.main__clients-job Designer
                .main__clients-star 
                    img(src="./images/stars.webp", alt="")
                    p.main__clients-describe Product helps you see how many more days you need to work to reach your financial goal.
                    .main__clients-about
                        img(src="./images/fifth-ava.webp", alt="")
                        .main__clients-caption
                            p.main__clients-name Wahid Ari
                            p.main__clients-job Designer
            .main__last 
                .main__last-left 
                    p.main__last-text Join 100 Compannies who boost their business with Product  
                    a.main__last-btn Get This
                .main__last-right 
                    img(src="./images/screen.webp", alt="")





 


